{% extends 'base.html' %}
{% block content %}

<div class="searchBox">
  <input type="text" id="targetInput" placeholder="아무거나 검색하세요." />
  <button id = "searchButton">확인</button>
</div>

<script>
  // 버튼 요소를 가져옵니다.
  var searchButton = document.getElementById('searchButton');
  var targetInput = document.getElementById('targetInput');
  targetInput.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
      searching();
    }
  });
  searchButton.addEventListener('click', searching);
  
  function searching() {
    resetSearchResults();
    var targetInputValue = document.getElementById('targetInput').value.toLowerCase();
    var rows = document.querySelectorAll('tr');

    rows.forEach(function(row) {
      var th = row.querySelector('th');
      var tds = row.querySelectorAll('td');
      var thText = th.textContent || th.innerText;

      tds.forEach(function(td) {
        var tdText = td.textContent || td.innerText;
        if (thText.toLowerCase().includes(targetInputValue) || tdText.toLowerCase().includes(targetInputValue)) {
          th.style.fontWeight = 'bold';
          th.style.color = 'Red';
          td.style.color = 'Red';
          var cell = thText.toLowerCase().includes(targetInputValue) ? th : td;
          cell.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
      });
    });
}

  function resetSearchResults() {
    var cells = document.querySelectorAll('th, td');
    cells.forEach(function(cell) {
      cell.style.color = 'black';
      cell.style.fontWeight = 'normal';
    });
  }
</script>
<div>
  <table class="table" id="dataTable">
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">연락처</th>
        <th scope="col">주소</th>
        <th scope="col">기타 메모</th>
      </tr>
    </thead>
    <tbody id="temp">
      {% for i in data %}
      <tr>
        <th scope="row" class="name">{{i.c_name}}</th>
        <td class="phone">{{i.c_phone}}</td>
        <td class="address">{{i.c_address}}</td>
        <td class="memo">{{i.c_memo}}</td>
        <td><a href="/modify/{{i.c_idx}}/">수정</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}