{% extends 'base.html' %}
{% block content %}
<div>
  {% for i in data %}
  {{i}}
  {% endfor %}
    <form>
        <label>이름</label>
        <input type="text" class="form-control" name="c_name" id="c_name" value="" style="width:300px"></input>
        <label>핸드폰번호</label>
        <input type="text" class="form-control" name="c_phone" id="c_phone" value="" style="width:300px"></input>
        <label>주소</label>
        <input type="text" class="form-control" name="c_address" id="c_address" value="" style="width:300px"></input>
        <label>메모</label>
        <input type="text" class="form-control" name="c_memo" id="c_memo" value="" style="width:300px"></input>
        <button type="submit" class="btn btn-primary" style="width:200px">수정</button>
        <button>취소</button>
    </form>
  </div>
{% endblock %}