{% extends 'base.html' %}
{% block content %}
<form id="searchForm" method="get" action="">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">상품 이름</th>
        <th scope="col">판매가</th>
        <th scope="col">매입가</th>
        <th scope="col">매입날짜</th>
        <th scope="col">매입방법</th>
        <th scope="col">상품종류</th>
        <th scope="col">상품 개수</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{i.Product_name}}</th>
        <td>{{i.Shop_Product_saleprice}}</td>
        <td>{{i.Shop_Product_purchaseprice}}</td>
        <td>{{i.Shop_Product_purchasedate}}</td>
        <td>{{i.Shop_Product_purchase_route}}</td>
        <td>{{i.Product_Code}}</td>
        <td>{{i.Shop_Product_stockcount}}</td>
        <td><a href="/product_modify/{{i.Shop_Product_idx}}/">수정</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}