{% extends 'base.html' %}
{% block content %}
<div>
  {% for i in data2 %}
    {% if data1|add:"0" == i.shop_product_idx|add:"0" %}
    <form action="{% url 'myapp:product_modify' %}" method="POST" id ="modifyForm">
      {% csrf_token %}
        <input type="hidden" name="shop_product_idx", value="{{i.shop_product_idx}}"" id="shop_product_idx"></input>
        <label>상품명</label>
        <input type="text" class="form-control" name="product_name" id="product_name" value="{{i.product_name}}" style="width:300px"></input>
        <label>판매가</label>
        <input type="text" class="form-control" name="Shop_Product_saleprice" id="Shop_Product_saleprice" value="{{i.Shop_Product_saleprice}}" style="width:300px"></input>
        <label>매입가</label>
        <input type="text" class="form-control" name="Shop_Product_purchaseprice" id="Shop_Product_purchaseprice" value="{{i.Shop_Product_purchaseprice}}" style="width:300px"></input>
        <label>매입경로</label>
        <input type="text" class="form-control" name="Shop_Product_purchase_route" id="Shop_Product_purchase_route" value="{{i.Shop_Product_purchase_route}}" style="width:300px"></input>
        <label>매입일</label>
        <input type="date" class="form-control" name="Shop_Product_purchasedate" id="Shop_Product_purchasedate" value="{{i.Shop_Product_purchasedate}}" style="width:300px"></input>
        <label>재고</label>
        <input type="text" class="form-control" name="Shop_Product_stockcount" id="Shop_Product_stockcount" value="{{i.Shop_Product_stockcount}}" style="width:300px"></input>
        
        <button type="submit" class="btn btn-primary" style="width:200px">수정</button>
        <button type="reset" class="btn btn-primary" style="width:200px">되돌리기</button>
        <button type="button" class="btn btn-primary" style="width:200px" onclick="goBack()">취소</button>
    </form>
  </div>
  {% endif %}
  {% endfor %}
<script>
  function goBack(){
    window.history.back();
  }

  document.getElementById("modifyForm").addEventListener("submit", function(event) {
    var confirmation = confirm("정말 수정하시겠습니까?");
    if (!confirmation) {
      event.preventDefault();
    }
  });
</script>
{% endblock %}