{% extends 'base.html' %}
{% block content %}
<form id="searchForm" method="get" action="">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">이름</th>
        <th scope="col">연락처</th>
        <th scope="col">주소</th>
        <th scope="col">기타 메모</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">{{i.c_name}}</th>
        <td>{{i.c_phone}}</td>
        <td>{{i.c_address}}</td>
        <td>{{i.c_memo}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}